*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles
/.idea/misc.xml
.DS_Store
/captures
/app/build
/app/release
.externalNativeBuild
.cxx
local.properties
TODO.txt
/build/reports/problems/problems-report.html
/Widget.kt
/.idea/deploymentTargetSelector.xml
